@charset "UTF-8";
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background: #1D1D1D;
  color: #ffffff;
  font-family: Inter, Arial, sans-serif;
}
body h1 {
  font-size: 66px;
  font-weight: 600;
  line-height: 150%;
}
body h2 {
  font-size: 54px;
  font-weight: 600;
}
body h3 {
  font-size: 32px;
  font-weight: 600;
}
body h4 {
  font-size: 24px;
  font-weight: 600;
}
body .btn_yellow {
  background: #e3b748;
  color: #000000;
}

.noScroll {
  overflow: hidden;
}

@media (max-width: 1160px) {
  body h1 {
    font-size: 58px;
  }
}
@media (max-width: 992px) {
  body h1 {
    font-size: 54px;
    line-height: 130%;
  }
  body h2 {
    font-size: 46px;
  }
  body h3 {
    font-size: 24px;
  }
  body h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  body h1 {
    font-size: 40px;
    line-height: 130%;
  }
  body h2 {
    font-size: 30px;
  }
  body h3 {
    font-size: 20px;
  }
  body h4 {
    font-size: 16px;
  }
}
.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1160px) {
  .container {
    padding: 0 20px;
  }
}
.menu {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 143px;
}

.menu__item:not(:last-child) {
  margin-right: 41px;
}

.menu__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  transition: 0.2s color ease;
}
.menu__link:hover {
  color: #e3b748;
}

.swiper-button-disabled {
  pointer-events: none;
}

.header {
  padding: 50px 0;
  background: #111111;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__wrap_mobile {
  display: none;
}
.header__wrap_mobile .header__burger {
  width: 20px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
.header__wrap_mobile .header__burger__line {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: 2px;
  transition: 0.2s ease;
}
.header__wrap_mobile .header__burger__line:first-child {
  top: 0;
}
.header__wrap_mobile .header__burger__line:last-child {
  top: unset;
  bottom: 0;
}
.header__wrap_mobile .header__burger:hover .header__burger__line {
  background-color: #e3b748;
}
.header__wrap_desktop .close {
  width: 20px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  top: 38px;
  right: 34px;
  opacity: 0;
  pointer-events: none;
}
.header__wrap_desktop .close__line {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: 2px;
  transition: 0.2s ease;
  transform: rotate(-45deg);
}
.header__wrap_desktop .close__line:first-child {
  transform: rotate(45deg);
}
.header .close:hover .close__line {
  background-color: #e3b748;
}
.header__contact {
  color: #ffffff;
  background: transparent;
  padding: 14px 35px;
  border: 2px solid #ffffff;
  transition: 0.2s ease;
  font-size: 16px;
  font-weight: 600;
}
.header__contact:hover {
  color: #e3b748;
  border-color: #e3b748;
}

@media (max-width: 992px) {
  .header {
    padding: 30px 0;
  }
  .header__contact {
    padding: 12px 18px;
  }
  .menu__item:not(:last-child) {
    margin-right: 24px;
  }
}
@media (max-width: 768px) {
  .header__wrap_desktop {
    -moz-transform: translateX(100%); /* Для Firefox */
    -ms-transform: translateX(100%); /* Для IE */
    -webkit-transform: translateX(100%); /* Для Safari, Chrome, iOS */
    -o-transform: translateX(100%); /* Для Opera */
    transform: translateX(100%);
    transition: 0.3s transform ease;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #111;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 40px 0;
  }
  .header__wrap_desktop .logo {
    margin-bottom: 24px;
  }
  .header__wrap_mobile {
    display: flex;
  }
  .header__menu {
    flex-direction: column;
  }
  .header__menu .menu__item {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .header__wrap_desktop.active {
    transform: translateX(0);
  }
  .header__wrap_desktop.active .close {
    opacity: 1;
    pointer-events: all;
  }
}
.main-screen {
  background: #111111;
  padding: 20px 0 190px;
}
.main-screen .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-screen__text {
  max-width: 600px;
}
.main-screen__title {
  margin: 36px 0;
}
.main-screen__description {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 36px;
}
.main-screen__img {
  max-width: 470px;
  margin-left: 90px;
}
.main-screen__form {
  border-radius: 43px;
  background: #292929;
  padding: 6px 6px 6px 28px;
  display: flex;
  align-items: center;
  max-width: 440px;
  height: 74px;
}
.main-screen__form svg {
  fill: rgba(255, 255, 255, 0.3);
  margin-right: 12px;
}
.main-screen__form .form__input {
  height: 100%;
  flex: 1;
  padding-right: 16px;
}
.main-screen__form .form__input::placeholder {
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.3);
}
.main-screen__form .form__input_button {
  margin: 0 0 0 auto;
  background: #e3b748;
  border-radius: 43px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding: 0 32px;
  flex: unset;
}

@media (max-width: 1160px) {
  .main-screen__img {
    max-width: 400px;
    margin-left: 50px;
  }
}
@media (max-width: 992px) {
  .main-screen {
    padding: 20px 0 110px;
  }
  .main-screen .container {
    flex-direction: column-reverse;
  }
  .main-screen__img {
    margin-left: 0px;
  }
  .main-screen__title {
    margin: 36px 0 24px;
  }
  .main-screen__text {
    max-width: none;
  }
}
@media (max-width: 490px) {
  .main-screen__img {
    max-width: 100%;
  }
  .main-screen__form {
    padding: 6px 6px 6px 12px;
  }
  .main-screen__form svg {
    display: none;
  }
  .main-screen__form .form__input {
    padding-right: 8px;
  }
  .main-screen__form .form__input_button {
    padding: 0 16px;
  }
}
.introduce {
  display: flex;
  padding: 150px 0 80px;
}
.introduce__title {
  max-width: 50%;
  line-height: 160%;
}
.introduce__text {
  max-width: 50%;
  border-left: 1px solid #6A6A6A;
  padding: 16px 0 16px 90px;
}
.introduce__text__subtitle {
  line-height: 160%;
  margin-bottom: 16px;
}
.introduce__text__description {
  opacity: 0.3;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 992px) {
  .introduce {
    padding: 60px 0;
  }
  .introduce__text {
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .introduce {
    flex-direction: column;
  }
  .introduce__title {
    max-width: none;
    margin-bottom: 24px;
  }
  .introduce__text {
    max-width: none;
    padding: 40px 0 0;
    border-left: 0;
    border-top: 1px solid #6a6a6a;
  }
}
@media (max-width: 576px) {
  .introduce {
    padding: 40px 0;
  }
}
.advantages {
  padding: 90px 0;
}
.advantages__title {
  text-align: center;
  margin-bottom: 97px;
}
.advantages__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.advantages__card {
  border: 1.4px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 30px 24px;
  background: transparent;
  transition: 0.2s background-color ease;
}
.advantages__card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.advantages__card__icon {
  width: 101px;
  height: 101px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}
.advantages__card__icon svg {
  fill: #232222;
}
.advantages__card__title {
  margin-bottom: 26px;
}
.advantages__card__text {
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 160%;
  opacity: 0.3;
}
.advantages__card__link {
  display: inline-block;
  padding: 10px 24px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 992px) {
  .advantages {
    padding: 60px 0;
  }
  .advantages__title {
    margin-bottom: 60px;
  }
  .advantages__cards {
    grid-gap: 16px;
  }
  .advantages__card__icon {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 768px) {
  .advantages__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .advantages {
    padding: 40px 0;
  }
  .advantages__title {
    margin-bottom: 24px;
  }
  .advantages__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.areas {
  padding: 90px 0;
}
.areas__title {
  text-align: center;
  margin-bottom: 65px;
}
.areas__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.areas__card {
  border-radius: 14px;
  height: 342px;
  max-height: 342px;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.areas__card_big {
  max-width: 752px;
}
.areas__card_small {
  max-width: 358px;
}
.areas__card__img {
  height: 100%;
  width: 100%;
  transition: 0.3s transform ease;
  object-fit: cover;
}
.areas__card:hover .areas__card__img {
  transform: scale(1.1);
  cursor: pointer;
}
.areas__card__title {
  text-transform: uppercase;
  position: absolute;
  bottom: 41px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.areas__card_big.areas__card_left {
  grid-column-start: 1;
  grid-column-end: 5;
}

.areas__card_small.areas__card_right {
  grid-column-start: 5;
  grid-column-end: 7;
}

.areas__card_small.areas__card_left {
  grid-column-start: 1;
  grid-column-end: 3;
}

.areas__card_big.areas__card_right {
  grid-column-start: 3;
  grid-column-end: 7;
}

@media (max-width: 992px) {
  .areas {
    padding: 60px 0;
  }
  .areas__cards {
    grid-gap: 20px;
  }
  .areas__card {
    height: 260px;
  }
  .areas__card__title {
    bottom: 24px;
  }
}
@media (max-width: 768px) {
  .areas__card {
    height: 200px;
  }
}
@media (max-width: 680px) {
  .areas__card_big.areas__card_left,
  .areas__card_small.areas__card_left {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .areas__card_small.areas__card_right,
  .areas__card_big.areas__card_right {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}
@media (max-width: 576px) {
  .areas {
    padding: 40px 0;
  }
  .areas__title {
    margin-bottom: 24px;
  }
}
@media (max-width: 540px) {
  .areas__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .areas__card {
    height: 260px;
  }
  .areas__card_big.areas__card_left,
  .areas__card_small.areas__card_left,
  .areas__card_small.areas__card_right,
  .areas__card_big.areas__card_right {
    grid-column-start: 1;
    grid-column-end: 1;
    max-width: unset;
  }
}
.reviews {
  padding: 90px 0;
}
.reviews__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 100px;
}
.reviews__title {
  max-width: 380px;
  line-height: 160%;
}
.reviews__navigation {
  display: flex;
  align-items: center;
}
.reviews__arrow {
  width: 90px;
  height: 90px;
  background: #E6E6E6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s background-color ease;
}
.reviews__arrow:hover {
  background: #e3b748;
}
.reviews__arrow svg {
  fill: #373737;
}
.reviews__arrow_next {
  margin-left: 20px;
}
.reviews__swiper {
  overflow: hidden;
}
.reviews__slide {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 36px 26px;
}
.reviews .review {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 36px 26px;
}
.reviews .review:before {
  content: "";
  position: absolute;
  width: 65px;
  height: 45px;
  right: 40px;
  top: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='63' height='46' viewBox='0 0 63 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.03' d='M59 22.9999V10.0799C59 7.95171 59.0004 6.88774 58.5722 6.07488C58.1956 5.35986 57.5938 4.77849 56.8546 4.41418C56.0142 4 54.9149 4 52.7147 4H45.6432C43.443 4 42.3421 4 41.5017 4.41417C40.7625 4.77849 40.162 5.35986 39.7853 6.07488C39.3571 6.88774 39.3571 7.95171 39.3571 10.0799V16.9199C39.3571 19.0481 39.3571 20.1124 39.7853 20.9253C40.162 21.6403 40.7625 22.2214 41.5017 22.5858C42.3421 22.9999 43.443 23 45.6432 23L59 22.9999ZM59 22.9999V30.6C59 36.896 53.7234 42 47.2143 42M23.6429 22.9999V10.0799C23.6429 7.95171 23.6433 6.88774 23.2151 6.07488C22.8384 5.35986 22.2366 4.77849 21.4974 4.41418C20.6571 4 19.5577 4 17.3575 4H10.2861C8.08589 4 6.98497 4 6.1446 4.41417C5.40539 4.77849 4.80483 5.35986 4.42819 6.07488C4 6.88774 4 7.95171 4 10.0799V16.9199C4 19.0481 4 20.1124 4.42819 20.9253C4.80483 21.6403 5.40539 22.2214 6.1446 22.5858C6.98497 22.9999 8.0859 23 10.2861 23L23.6429 22.9999ZM23.6429 22.9999L23.6429 30.6C23.6429 36.896 18.3662 42 11.8571 42' stroke='white' stroke-width='7' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}
.reviews .review__img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.reviews .review__name {
  margin-bottom: 10px;
}
.reviews .review__post {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 22px;
}
.reviews .review__text {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
}
.reviews .review.swiper-slide-next {
  background: #2E2E2E;
}
.reviews .review.swiper-slide-next:before {
  display: none;
}

@media (max-width: 992px) {
  .reviews {
    padding: 60px 0;
  }
  .reviews .review {
    padding: 26px 16px;
  }
}
@media (max-width: 768px) {
  .reviews__arrow {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 576px) {
  .reviews {
    padding: 40px 0;
  }
  .reviews__head {
    flex-direction: column;
    align-items: start;
    margin-bottom: 24px;
  }
  .reviews__title {
    margin-bottom: 12px;
    line-height: 130%;
  }
  .reviews__navigation {
    align-self: end;
  }
}
.team {
  padding: 90px 0;
}
.team__title {
  text-align: center;
  margin-bottom: 110px;
}
.team__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.team__card {
  display: flex;
  align-items: center;
  padding: 18px 26px;
  border-radius: 14px;
  color: #ffffff;
  background-color: transparent;
  transition: 0.2s background-color ease;
}
.team__card__img {
  width: 68px;
  height: 68px;
  margin-right: 22px;
}
.team__card__name {
  margin-bottom: 6px;
}
.team__card__cases {
  color: rgba(255, 255, 255, 0.3);
}
.team__card:hover {
  background-color: #e3b748;
}
.team__card:hover .team__card__name {
  color: #373737;
}
.team__card:hover .team__card__cases {
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 992px) {
  .team {
    padding: 60px 0;
  }
  .team__title {
    margin-bottom: 60px;
  }
}
@media ((min-width: 769px) and (max-width: 992px)) {
  .team__cards {
    grid-gap: 24px;
  }
  .team__card {
    padding: 18px;
  }
}
@media (max-width: 768px) {
  .team__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .team {
    padding: 40px 0;
  }
  .team__title {
    margin-bottom: 24px;
  }
}
@media (max-width: 560px) {
  .team__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }
}
.faq {
  padding: 90px 0;
}
.faq__title {
  margin-bottom: 14px;
}
.faq__content {
  display: flex;
  justify-content: space-between;
}
.faq__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.3);
  max-width: 420px;
}
.faq__accordion {
  max-width: 540px;
  margin-left: 60px;
}
.faq__question {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid rgba(217, 217, 217, 0.05);
}
.faq__question:first-child {
  padding-top: 0;
}
.faq__question:last-child {
  border-bottom: unset;
  padding-bottom: 0;
}
.faq__answer {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.3);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.faq__open {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  text-align: left;
  position: relative;
  padding-right: 40px;
}
.faq__open:before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='14.3914' cy='14.5' r='14' fill='%23E3B748'/%3e%3crect x='9.89136' y='13.5' width='9' height='2' fill='black'/%3e%3crect x='13.3914' y='10' width='2' height='9' fill='black'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
}
.faq__open.active:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='14' cy='14.5' r='14' fill='%23E3B748'/%3e%3crect x='9.5' y='13.5' width='9' height='2' fill='black'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .faq {
    padding: 60px 0;
  }
  .faq__content {
    flex-direction: column;
    justify-content: start;
  }
  .faq__subtitle {
    margin-bottom: 24px;
    max-width: none;
  }
  .faq__accordion {
    margin-left: 0;
    max-width: none;
  }
}
@media (max-width: 576px) {
  .faq {
    padding: 40px 0;
  }
  .faq__open {
    font-size: 20px;
  }
}
.subscribe {
  background-color: #323232;
  max-width: 1245px;
  padding: 90px 20px;
  margin: 100px auto 140px;
}
.subscribe__title {
  text-align: center;
  margin-bottom: 42px;
}
.subscribe__form {
  max-width: 690px;
  margin: 0 auto;
  height: 53px;
  display: flex;
}
.subscribe .form__input {
  height: 100%;
  margin-right: 9px;
  flex: 1;
  padding: 0 20px;
  background: #E4E4E4;
  color: #000000;
}
.subscribe .form__input:first-child {
  border-radius: 14px 0 0 14px;
}
.subscribe .form__input:last-child {
  border-radius: 0 14px 14px 0;
  margin-right: 0;
}
.subscribe .form__input::placeholder {
  color: #818181;
  font-style: italic;
}
.subscribe .form__input_button {
  width: 116px;
  font-weight: 600;
  flex: unset;
  background: #e3b748;
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 1300px) {
  .subscribe {
    max-width: 90%;
  }
}
@media (max-width: 992px) {
  .subscribe {
    padding: 60px 20px;
    margin: 40px auto;
  }
}
@media (max-width: 768px) {
  .subscribe {
    margin-right: 0;
    margin-left: 0;
    max-width: unset;
  }
}
@media (max-width: 576px) {
  .subscribe {
    padding: 40px 20px;
  }
  .subscribe__title {
    margin-bottom: 24px;
  }
  .subscribe__form {
    height: auto;
    flex-direction: column;
  }
  .subscribe .form__input {
    margin-right: 0;
    margin-bottom: 12px;
    border-radius: 14px;
    padding: 16px 20px;
    min-height: 50px;
  }
  .subscribe .form__input:first-child {
    border-radius: 14px;
  }
  .subscribe .form__input:last-child {
    border-radius: 14px;
    margin-bottom: 0;
    width: 100%;
  }
}
.footer {
  margin: 240px 0 0;
  padding: 120px 0 100px;
  background: #111111;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer__socials svg {
  fill: #FDD65B;
  transition: 0.2s fill ease;
}
.footer__socials__link {
  margin-right: 20px;
}
.footer__socials__link:last-child {
  margin-right: 0;
}
.footer__socials__link:hover svg {
  fill: #e3b748;
}
.footer__bottom {
  justify-content: center;
}
.footer__bottom .menu__item {
  font-weight: 400;
}

@media (max-width: 992px) {
  .footer {
    margin: 120px 0 0;
    padding: 60px 0;
  }
  .footer__socials__link {
    margin-right: 12px;
  }
}
@media (max-width: 768px) {
  .footer__top {
    flex-direction: column;
    margin-bottom: 24px;
  }
  .footer .logo, .footer__menu {
    margin-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .footer {
    margin-top: 70px;
    padding: 40px 0;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .footer__bottom .menu__item {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
@media (max-width: 480px) {
  .footer__menu {
    flex-direction: column;
  }
  .footer .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}